<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.outlay.dao.MhHouseOutlayMapper">
    <resultMap id="BaseResultMap" type="com.hafa.outlay.model.MhHouseOutlay">
        <id column="ids" jdbcType="INTEGER" property="ids"/>
        <result column="groupid" jdbcType="INTEGER" property="groupid"/>
        <result column="ptname" jdbcType="VARCHAR" property="ptname"/>
        <result column="cash" jdbcType="DECIMAL" property="cash"/>
        <result column="prodate" jdbcType="TIMESTAMP" property="prodate"/>
        <result column="transfer" jdbcType="INTEGER" property="transfer"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="homeid" jdbcType="INTEGER" property="homeid"/>
        <result column="bedate" jdbcType="VARCHAR" property="bedate"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="note" jdbcType="VARCHAR" property="note"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="createname" jdbcType="VARCHAR" property="createname"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updator" jdbcType="INTEGER" property="updator"/>
        <result column="updatename" jdbcType="VARCHAR" property="updatename"/>
    </resultMap>
    <sql id="Base_Column_List">
        ids, groupid, homeid, ptname, cash, prodate, transfer, userid, bedate, pic, note, status, createtime,
        creator, createname, updatetime, updator, updatename
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_house_outlay
        where ids = #{ids,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from mh_house_outlay
        where ids = #{ids,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.outlay.model.MhHouseOutlay"
            useGeneratedKeys="true">
        insert into mh_house_outlay (groupid, homeid, ptname,
        cash, prodate, transfer,
        userid, bedate, pic, note, status,
        createtime, creator, createname,
        updatetime, updator, updatename
        )
        values (#{groupid,jdbcType=INTEGER}, #{homeid,jdbcType=INTEGER}, #{ptname,jdbcType=VARCHAR},
        #{cash,jdbcType=DECIMAL}, #{prodate,jdbcType=TIMESTAMP}, #{transfer,jdbcType=INTEGER},
        #{userid,jdbcType=INTEGER}, #{bedate,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
        #{createtime,jdbcType=TIMESTAMP}, #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR},
        #{updatetime,jdbcType=TIMESTAMP}, #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.outlay.model.MhHouseOutlay"
            useGeneratedKeys="true">
        insert into mh_house_outlay
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupid != null">
                groupid,
            </if>
            <if test="homeid != null">
                homeid,
            </if>
            <if test="ptname != null">
                ptname,
            </if>
            <if test="cash != null">
                cash,
            </if>
            <if test="prodate != null">
                prodate,
            </if>
            <if test="transfer != null">
                transfer,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="bedate != null">
                bedate,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="note != null">
                note,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createname != null">
                createname,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="updatename != null">
                updatename,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="homeid != null">
                #{homeid,jdbcType=INTEGER},
            </if>
            <if test="ptname != null">
                #{ptname,jdbcType=VARCHAR},
            </if>
            <if test="cash != null">
                #{cash,jdbcType=DECIMAL},
            </if>
            <if test="prodate != null">
                #{prodate,jdbcType=TIMESTAMP},
            </if>
            <if test="transfer != null">
                #{transfer,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="bedate != null">
                #{bedate,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                #{note,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                #{updatename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hafa.outlay.model.MhHouseOutlay">
        update mh_house_outlay
        <set>
            <if test="groupid != null">
                groupid = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="homeid != null">
                homeid = #{homeid,jdbcType=INTEGER},
            </if>
            <if test="ptname != null">
                ptname = #{ptname,jdbcType=VARCHAR},
            </if>
            <if test="cash != null">
                cash = #{cash,jdbcType=DECIMAL},
            </if>
            <if test="prodate != null">
                prodate = #{prodate,jdbcType=TIMESTAMP},
            </if>
            <if test="transfer != null">
                transfer = #{transfer,jdbcType=INTEGER},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="bedate != null">
                bedate = #{bedate,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="note != null">
                note = #{note,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                createname = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                updatename = #{updatename,jdbcType=VARCHAR},
            </if>
        </set>
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hafa.outlay.model.MhHouseOutlay">
        update mh_house_outlay
        set groupid = #{groupid,jdbcType=INTEGER},
        homeid = #{homeid,jdbcType=INTEGER},
        ptname = #{ptname,jdbcType=INTEGER},
        cash = #{cash,jdbcType=DECIMAL},
        prodate = #{prodate,jdbcType=TIMESTAMP},
        transfer = #{transfer,jdbcType=INTEGER},
        userid = #{userid,jdbcType=INTEGER},
        bedate = #{bedate,jdbcType=VARCHAR},
        pic = #{pic,jdbcType=VARCHAR},
        note = #{note,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        creator = #{creator,jdbcType=INTEGER},
        createname = #{createname,jdbcType=VARCHAR},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        updator = #{updator,jdbcType=INTEGER},
        updatename = #{updatename,jdbcType=VARCHAR}
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <insert id="insertData" parameterType="Map">
        insert into mh_house_outlay
        (groupid, homeid, ptname, cash, prodate, transfer, userid, bedate, note, status,
        createtime, creator, createname)
        <trim prefix="" prefixOverrides="union all">
            <if test="leaseEntity.water != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '水费' as ptname, #{leaseEntity.water} as
                cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
            <if test="leaseEntity.gas != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '煤气费' as ptname, #{leaseEntity.gas} as
                cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
            <if test="leaseEntity.electric != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '电费' as ptname, #{leaseEntity.electric} as
                cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
            <if test="leaseEntity.warm != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '暖气费' as ptname, #{leaseEntity.warm} as
                cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
            <if test="leaseEntity.property != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '物业费' as ptname, #{leaseEntity.property} as
                cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
            <if test="leaseEntity.loanrent != null">
                union all SELECT #{groupid} as groupid, #{homeid,jdbcType=INTEGER} as homeid, '房租/按揭' as ptname, #{leaseEntity.loanrent}
                as cash,
                #{leaseEntity.prodate} as prodate, #{transfer} as transfer, #{creator} as userid, #{leaseEntity.bedate} as bedate,
                #{leaseEntity.note} as note, #{status}, #{createtime}, #{creator}, #{createname}
            </if>
        </trim>
    </insert>
    <select id="searchFor" parameterType="Map" resultType="Map">
        select o.ids, o.groupid,
        (select h.address from mh_homes h where h.ids=o.homeid and h.status='1' and h.living='1' limit 1) homeAddress,
        o.ptname, o.cash, o.prodate,
        (case o.transfer when '1' then '转账' when '2' then '现金' else '其他' end) transferName,
        (select u.rname from mh_users u where u.ids=o.userid) username,
        o.bedate, o.pic, o.note, o.createtime
        from mh_house_outlay o
        <where>
            <if test="year != null and year != ''">
                and o.bedate like concat(#{year},'-__')
            </if>
            <if test="month != null and month != ''">
                and o.bedate like concat('____-', #{month})
            </if>
            and o.status='1'
        </where>
        order by o.bedate, o.ptname
        limit #{minpage}, #{limit}
    </select>
    <select id="countFor" resultType="Integer" parameterType="Map">
        select count(1) from mh_house_outlay o
        <where>
            <if test="year != null and year != ''">
                and o.bedate like concat(#{year},'-__')
            </if>
            <if test="month != null and month != ''">
                and o.bedate like concat('____-', #{month})
            </if>
            and o.status='1'
        </where>
    </select>
</mapper>