<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.education.dao.MhEducationMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.education.model.MhEducation" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="SCHOOL" property="school" jdbcType="VARCHAR" />
    <result column="MAJOR" property="major" jdbcType="VARCHAR" />
    <result column="CLAZZ" property="clazz" jdbcType="VARCHAR" />
    <result column="PLACE" property="place" jdbcType="VARCHAR" />
    <result column="STARTIME" property="startime" jdbcType="TIMESTAMP" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="PHOTO" property="photo" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERID, SCHOOL, MAJOR, CLAZZ, PLACE, STARTIME, ENDTIME, PHOTO, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_EDUCATION
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_EDUCATION
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhEducation" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_EDUCATION (USERID, SCHOOL, MAJOR, 
      CLAZZ, PLACE, STARTIME, 
      ENDTIME, PHOTO, STATUS
      )
    values (#{userid,jdbcType=DECIMAL}, #{school,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, 
      #{clazz,jdbcType=VARCHAR}, #{place,jdbcType=VARCHAR}, #{startime,jdbcType=TIMESTAMP}, 
      #{endtime,jdbcType=TIMESTAMP}, #{photo,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhEducation" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_EDUCATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="school != null" >
        SCHOOL,
      </if>
      <if test="major != null" >
        MAJOR,
      </if>
      <if test="clazz != null" >
        CLAZZ,
      </if>
      <if test="place != null" >
        PLACE,
      </if>
      <if test="startime != null" >
        STARTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="photo != null" >
        PHOTO,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null" >
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=VARCHAR},
      </if>
      <if test="startime != null" >
        #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhEducation" >
    update TEST.MH_EDUCATION
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="school != null" >
        SCHOOL = #{school,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        MAJOR = #{major,jdbcType=VARCHAR},
      </if>
      <if test="clazz != null" >
        CLAZZ = #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="place != null" >
        PLACE = #{place,jdbcType=VARCHAR},
      </if>
      <if test="startime != null" >
        STARTIME = #{startime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null" >
        PHOTO = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhEducation" >
    update TEST.MH_EDUCATION
    set USERID = #{userid,jdbcType=DECIMAL},
      SCHOOL = #{school,jdbcType=VARCHAR},
      MAJOR = #{major,jdbcType=VARCHAR},
      CLAZZ = #{clazz,jdbcType=VARCHAR},
      PLACE = #{place,jdbcType=VARCHAR},
      STARTIME = #{startime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      PHOTO = #{photo,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>