<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mynba.dao.EmpDao">
    <resultMap id="BaseResultMap" type="com.mynba.model.Emp">
        <id column="EMPNO" jdbcType="DECIMAL" property="empno"/>
        <result column="ENAME" jdbcType="VARCHAR" property="ename"/>
        <result column="SEX" jdbcType="DECIMAL" property="sex"/>
        <result column="AGE" jdbcType="DECIMAL" property="age"/>
        <result column="HIREDATE" jdbcType="DATE" property="hiredate"/>
        <result column="SAL" jdbcType="DECIMAL" property="sal"/>
        <result column="COMM" jdbcType="DECIMAL" property="comm"/>
    </resultMap>
    <sql id="Base_Column_List">
		EMPNO, ENAME, SEX, AGE, HIREDATE, SAL, COMM
	</sql>
    <select id="selectUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from emp
    </select>

    <insert id="insertEmp" parameterType="Emp">
        insert into emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            EMPNO,
            <if test="ename != null and ename != ''">
                ENAME,
            </if>
            <if test="sex != null">
                SEX,
            </if>
            <if test="age != null">
                AGE,
            </if>
            <if test="hiredate != null">
                HIREDATE,
            </if>
            <if test="sal != null">
                SAL,
            </if>
            <if test="comm != null">
                COMM,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            SQ_TEST.NEXTVAL,
            <if test="ename != null and ename != ''">
                #{ename, jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex, jdbcType=DECIMAL},
            </if>
            <if test="age != null">
                #{age, jdbcType=DECIMAL},
            </if>
            <if test="hiredate != null">
                #{hiredate, jdbcType=DATE},
            </if>
            <if test="sal != null">
                #{sal, jdbcType=DECIMAL},
            </if>
            <if test="comm != null">
                #{comm, jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
</mapper>