<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhDatebookMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhDatebook" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DETAIL" property="detail" jdbcType="VARCHAR" />
    <result column="HAPPEND" property="happend" jdbcType="TIMESTAMP" />
    <result column="REMARKS" property="remarks" jdbcType="DECIMAL" />
    <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
    <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERID, TITLE, DETAIL, HAPPEND, REMARKS, BACKUP1, BACKUP2, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_DATEBOOK
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_DATEBOOK
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhDatebook" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_DATEBOOK (USERID, TITLE, DETAIL, 
      HAPPEND, REMARKS, BACKUP1, 
      BACKUP2, STATUS)
    values (#{userid,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{happend,jdbcType=TIMESTAMP}, #{remarks,jdbcType=DECIMAL}, #{backup1,jdbcType=VARCHAR}, 
      #{backup2,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhDatebook" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_DATEBOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="detail != null" >
        DETAIL,
      </if>
      <if test="happend != null" >
        HAPPEND,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="backup1 != null" >
        BACKUP1,
      </if>
      <if test="backup2 != null" >
        BACKUP2,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="happend != null" >
        #{happend,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null" >
        #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhDatebook" >
    update TEST.MH_DATEBOOK
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        DETAIL = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="happend != null" >
        HAPPEND = #{happend,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null" >
        BACKUP1 = #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        BACKUP2 = #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhDatebook" >
    update TEST.MH_DATEBOOK
    set USERID = #{userid,jdbcType=DECIMAL},
      TITLE = #{title,jdbcType=VARCHAR},
      DETAIL = #{detail,jdbcType=VARCHAR},
      HAPPEND = #{happend,jdbcType=TIMESTAMP},
      REMARKS = #{remarks,jdbcType=DECIMAL},
      BACKUP1 = #{backup1,jdbcType=VARCHAR},
      BACKUP2 = #{backup2,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>