<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhFolderMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhFolder" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="PARENTID" property="parentid" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="FOLDERNAME" property="foldername" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, PARENTID, USERID, FOLDERNAME, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_FOLDER
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_FOLDER
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhFolder" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_FOLDER (PARENTID, USERID, FOLDERNAME, 
      STATUS)
    values (#{parentid,jdbcType=DECIMAL}, #{userid,jdbcType=DECIMAL}, #{foldername,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhFolder" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_FOLDER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="foldername != null" >
        FOLDERNAME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="foldername != null" >
        #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhFolder" >
    update TEST.MH_FOLDER
    <set >
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="foldername != null" >
        FOLDERNAME = #{foldername,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhFolder" >
    update TEST.MH_FOLDER
    set PARENTID = #{parentid,jdbcType=DECIMAL},
      USERID = #{userid,jdbcType=DECIMAL},
      FOLDERNAME = #{foldername,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>