<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhHomeMemberMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhHomeMember" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="MNAME" property="mname" jdbcType="VARCHAR" />
    <result column="MBIRTHDAY" property="mbirthday" jdbcType="TIMESTAMP" />
    <result column="MAGE" property="mage" jdbcType="DECIMAL" />
    <result column="BACKUP1" property="backup1" jdbcType="VARCHAR" />
    <result column="BACKUP2" property="backup2" jdbcType="VARCHAR" />
    <result column="BACKUP3" property="backup3" jdbcType="VARCHAR" />
    <result column="BACKUP4" property="backup4" jdbcType="VARCHAR" />
    <result column="BACKUP5" property="backup5" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, MNAME, MBIRTHDAY, MAGE, BACKUP1, BACKUP2, BACKUP3, BACKUP4, BACKUP5, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_HOME_MEMBER
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_HOME_MEMBER
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhHomeMember" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_HOME_MEMBER (MNAME, MBIRTHDAY, MAGE, 
      BACKUP1, BACKUP2, BACKUP3, 
      BACKUP4, BACKUP5, STATUS
      )
    values (#{mname,jdbcType=VARCHAR}, #{mbirthday,jdbcType=TIMESTAMP}, #{mage,jdbcType=DECIMAL}, 
      #{backup1,jdbcType=VARCHAR}, #{backup2,jdbcType=VARCHAR}, #{backup3,jdbcType=VARCHAR}, 
      #{backup4,jdbcType=VARCHAR}, #{backup5,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhHomeMember" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_HOME_MEMBER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mname != null" >
        MNAME,
      </if>
      <if test="mbirthday != null" >
        MBIRTHDAY,
      </if>
      <if test="mage != null" >
        MAGE,
      </if>
      <if test="backup1 != null" >
        BACKUP1,
      </if>
      <if test="backup2 != null" >
        BACKUP2,
      </if>
      <if test="backup3 != null" >
        BACKUP3,
      </if>
      <if test="backup4 != null" >
        BACKUP4,
      </if>
      <if test="backup5 != null" >
        BACKUP5,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mname != null" >
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mbirthday != null" >
        #{mbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mage != null" >
        #{mage,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null" >
        #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null" >
        #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backup4 != null" >
        #{backup4,jdbcType=VARCHAR},
      </if>
      <if test="backup5 != null" >
        #{backup5,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhHomeMember" >
    update TEST.MH_HOME_MEMBER
    <set >
      <if test="mname != null" >
        MNAME = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mbirthday != null" >
        MBIRTHDAY = #{mbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mage != null" >
        MAGE = #{mage,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null" >
        BACKUP1 = #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null" >
        BACKUP2 = #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null" >
        BACKUP3 = #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backup4 != null" >
        BACKUP4 = #{backup4,jdbcType=VARCHAR},
      </if>
      <if test="backup5 != null" >
        BACKUP5 = #{backup5,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhHomeMember" >
    update TEST.MH_HOME_MEMBER
    set MNAME = #{mname,jdbcType=VARCHAR},
      MBIRTHDAY = #{mbirthday,jdbcType=TIMESTAMP},
      MAGE = #{mage,jdbcType=DECIMAL},
      BACKUP1 = #{backup1,jdbcType=VARCHAR},
      BACKUP2 = #{backup2,jdbcType=VARCHAR},
      BACKUP3 = #{backup3,jdbcType=VARCHAR},
      BACKUP4 = #{backup4,jdbcType=VARCHAR},
      BACKUP5 = #{backup5,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>