<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhMenuMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhMenu" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="PARENTID" property="parentid" jdbcType="DECIMAL" />
    <result column="MENUNAME" property="menuname" jdbcType="VARCHAR" />
    <result column="MURL" property="murl" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, PARENTID, MENUNAME, MURL, ICON, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_MENU
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_MENU
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhMenu" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_MENU (PARENTID, MENUNAME, MURL, 
      ICON, STATUS)
    values (#{parentid,jdbcType=DECIMAL}, #{menuname,jdbcType=VARCHAR}, #{murl,jdbcType=VARCHAR}, 
      #{icon,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhMenu" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="menuname != null" >
        MENUNAME,
      </if>
      <if test="murl != null" >
        MURL,
      </if>
      <if test="icon != null" >
        ICON,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="menuname != null" >
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null" >
        #{murl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhMenu" >
    update TEST.MH_MENU
    <set >
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="menuname != null" >
        MENUNAME = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="murl != null" >
        MURL = #{murl,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        ICON = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhMenu" >
    update TEST.MH_MENU
    set PARENTID = #{parentid,jdbcType=DECIMAL},
      MENUNAME = #{menuname,jdbcType=VARCHAR},
      MURL = #{murl,jdbcType=VARCHAR},
      ICON = #{icon,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>