<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhUsersInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhUsersInfo" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="FEELING" property="feeling" jdbcType="VARCHAR" />
    <result column="BLOOD" property="blood" jdbcType="DECIMAL" />
    <result column="ANSIGN" property="ansign" jdbcType="DECIMAL" />
    <result column="CONSTE" property="conste" jdbcType="DECIMAL" />
    <result column="FAVOR" property="favor" jdbcType="VARCHAR" />
    <result column="PERSIGN" property="persign" jdbcType="VARCHAR" />
    <result column="HIGHEDU" property="highedu" jdbcType="DECIMAL" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERID, FEELING, BLOOD, ANSIGN, CONSTE, FAVOR, PERSIGN, HIGHEDU, BIRTHDAY, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_USERS_INFO
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_USERS_INFO
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhUsersInfo" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USERS_INFO (USERID, FEELING, BLOOD, 
      ANSIGN, CONSTE, FAVOR, 
      PERSIGN, HIGHEDU, BIRTHDAY, 
      STATUS)
    values (#{userid,jdbcType=DECIMAL}, #{feeling,jdbcType=VARCHAR}, #{blood,jdbcType=DECIMAL}, 
      #{ansign,jdbcType=DECIMAL}, #{conste,jdbcType=DECIMAL}, #{favor,jdbcType=VARCHAR}, 
      #{persign,jdbcType=VARCHAR}, #{highedu,jdbcType=DECIMAL}, #{birthday,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhUsersInfo" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USERS_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="feeling != null" >
        FEELING,
      </if>
      <if test="blood != null" >
        BLOOD,
      </if>
      <if test="ansign != null" >
        ANSIGN,
      </if>
      <if test="conste != null" >
        CONSTE,
      </if>
      <if test="favor != null" >
        FAVOR,
      </if>
      <if test="persign != null" >
        PERSIGN,
      </if>
      <if test="highedu != null" >
        HIGHEDU,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="feeling != null" >
        #{feeling,jdbcType=VARCHAR},
      </if>
      <if test="blood != null" >
        #{blood,jdbcType=DECIMAL},
      </if>
      <if test="ansign != null" >
        #{ansign,jdbcType=DECIMAL},
      </if>
      <if test="conste != null" >
        #{conste,jdbcType=DECIMAL},
      </if>
      <if test="favor != null" >
        #{favor,jdbcType=VARCHAR},
      </if>
      <if test="persign != null" >
        #{persign,jdbcType=VARCHAR},
      </if>
      <if test="highedu != null" >
        #{highedu,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhUsersInfo" >
    update TEST.MH_USERS_INFO
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="feeling != null" >
        FEELING = #{feeling,jdbcType=VARCHAR},
      </if>
      <if test="blood != null" >
        BLOOD = #{blood,jdbcType=DECIMAL},
      </if>
      <if test="ansign != null" >
        ANSIGN = #{ansign,jdbcType=DECIMAL},
      </if>
      <if test="conste != null" >
        CONSTE = #{conste,jdbcType=DECIMAL},
      </if>
      <if test="favor != null" >
        FAVOR = #{favor,jdbcType=VARCHAR},
      </if>
      <if test="persign != null" >
        PERSIGN = #{persign,jdbcType=VARCHAR},
      </if>
      <if test="highedu != null" >
        HIGHEDU = #{highedu,jdbcType=DECIMAL},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhUsersInfo" >
    update TEST.MH_USERS_INFO
    set USERID = #{userid,jdbcType=DECIMAL},
      FEELING = #{feeling,jdbcType=VARCHAR},
      BLOOD = #{blood,jdbcType=DECIMAL},
      ANSIGN = #{ansign,jdbcType=DECIMAL},
      CONSTE = #{conste,jdbcType=DECIMAL},
      FAVOR = #{favor,jdbcType=VARCHAR},
      PERSIGN = #{persign,jdbcType=VARCHAR},
      HIGHEDU = #{highedu,jdbcType=DECIMAL},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>