<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhWebAccountMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhWebAccount" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="WEBID" property="webid" jdbcType="DECIMAL" />
    <result column="ACCOUNTS" property="accounts" jdbcType="VARCHAR" />
    <result column="PWORD" property="pword" jdbcType="VARCHAR" />
    <result column="EMAILS" property="emails" jdbcType="VARCHAR" />
    <result column="MPHONE" property="mphone" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="PWORDHIS" property="pwordhis" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, WEBID, ACCOUNTS, PWORD, EMAILS, MPHONE, NOTE, PWORDHIS, USERID, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_WEB_ACCOUNT
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_WEB_ACCOUNT
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhWebAccount" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WEB_ACCOUNT (WEBID, ACCOUNTS, PWORD, 
      EMAILS, MPHONE, NOTE, 
      PWORDHIS, USERID, STATUS
      )
    values (#{webid,jdbcType=DECIMAL}, #{accounts,jdbcType=VARCHAR}, #{pword,jdbcType=VARCHAR}, 
      #{emails,jdbcType=VARCHAR}, #{mphone,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{pwordhis,jdbcType=DECIMAL}, #{userid,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhWebAccount" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WEB_ACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="webid != null" >
        WEBID,
      </if>
      <if test="accounts != null" >
        ACCOUNTS,
      </if>
      <if test="pword != null" >
        PWORD,
      </if>
      <if test="emails != null" >
        EMAILS,
      </if>
      <if test="mphone != null" >
        MPHONE,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="pwordhis != null" >
        PWORDHIS,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="webid != null" >
        #{webid,jdbcType=DECIMAL},
      </if>
      <if test="accounts != null" >
        #{accounts,jdbcType=VARCHAR},
      </if>
      <if test="pword != null" >
        #{pword,jdbcType=VARCHAR},
      </if>
      <if test="emails != null" >
        #{emails,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="pwordhis != null" >
        #{pwordhis,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhWebAccount" >
    update TEST.MH_WEB_ACCOUNT
    <set >
      <if test="webid != null" >
        WEBID = #{webid,jdbcType=DECIMAL},
      </if>
      <if test="accounts != null" >
        ACCOUNTS = #{accounts,jdbcType=VARCHAR},
      </if>
      <if test="pword != null" >
        PWORD = #{pword,jdbcType=VARCHAR},
      </if>
      <if test="emails != null" >
        EMAILS = #{emails,jdbcType=VARCHAR},
      </if>
      <if test="mphone != null" >
        MPHONE = #{mphone,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="pwordhis != null" >
        PWORDHIS = #{pwordhis,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhWebAccount" >
    update TEST.MH_WEB_ACCOUNT
    set WEBID = #{webid,jdbcType=DECIMAL},
      ACCOUNTS = #{accounts,jdbcType=VARCHAR},
      PWORD = #{pword,jdbcType=VARCHAR},
      EMAILS = #{emails,jdbcType=VARCHAR},
      MPHONE = #{mphone,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      PWORDHIS = #{pwordhis,jdbcType=DECIMAL},
      USERID = #{userid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>