<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.dao.MhWorksMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.model.MhWorks" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="COMSCALE" property="comscale" jdbcType="VARCHAR" />
    <result column="INDUSTRY" property="industry" jdbcType="VARCHAR" />
    <result column="HIREDATE" property="hiredate" jdbcType="TIMESTAMP" />
    <result column="LEAVEDATE" property="leavedate" jdbcType="TIMESTAMP" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="SAL" property="sal" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERID, COMPANY, ADDRESS, COMSCALE, INDUSTRY, HIREDATE, LEAVEDATE, JOB, SAL, 
    STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_WORKS
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_WORKS
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhWorks" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WORKS (USERID, COMPANY, ADDRESS, 
      COMSCALE, INDUSTRY, HIREDATE, 
      LEAVEDATE, JOB, SAL, 
      STATUS)
    values (#{userid,jdbcType=DECIMAL}, #{company,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{comscale,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{hiredate,jdbcType=TIMESTAMP}, 
      #{leavedate,jdbcType=TIMESTAMP}, #{job,jdbcType=VARCHAR}, #{sal,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhWorks" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WORKS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="comscale != null" >
        COMSCALE,
      </if>
      <if test="industry != null" >
        INDUSTRY,
      </if>
      <if test="hiredate != null" >
        HIREDATE,
      </if>
      <if test="leavedate != null" >
        LEAVEDATE,
      </if>
      <if test="job != null" >
        JOB,
      </if>
      <if test="sal != null" >
        SAL,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="comscale != null" >
        #{comscale,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null" >
        #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="sal != null" >
        #{sal,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhWorks" >
    update TEST.MH_WORKS
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="company != null" >
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="comscale != null" >
        COMSCALE = #{comscale,jdbcType=VARCHAR},
      </if>
      <if test="industry != null" >
        INDUSTRY = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null" >
        HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="leavedate != null" >
        LEAVEDATE = #{leavedate,jdbcType=TIMESTAMP},
      </if>
      <if test="job != null" >
        JOB = #{job,jdbcType=VARCHAR},
      </if>
      <if test="sal != null" >
        SAL = #{sal,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhWorks" >
    update TEST.MH_WORKS
    set USERID = #{userid,jdbcType=DECIMAL},
      COMPANY = #{company,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      COMSCALE = #{comscale,jdbcType=VARCHAR},
      INDUSTRY = #{industry,jdbcType=VARCHAR},
      HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      LEAVEDATE = #{leavedate,jdbcType=TIMESTAMP},
      JOB = #{job,jdbcType=VARCHAR},
      SAL = #{sal,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>