<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.homemember.dao.MhHomeMemberMapper">
  <resultMap id="BaseResultMap" type="com.hafa.homemember.model.MhHomeMember">
    <id column="ids" jdbcType="INTEGER" property="ids" />
    <result column="mname" jdbcType="VARCHAR" property="mname" />
    <result column="mbirthday" jdbcType="TIMESTAMP" property="mbirthday" />
    <result column="mage" jdbcType="DECIMAL" property="mage" />
    <result column="backup1" jdbcType="VARCHAR" property="backup1" />
    <result column="backup2" jdbcType="VARCHAR" property="backup2" />
    <result column="backup3" jdbcType="VARCHAR" property="backup3" />
    <result column="backup4" jdbcType="VARCHAR" property="backup4" />
    <result column="backup5" jdbcType="VARCHAR" property="backup5" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ids, mname, mbirthday, mage, backup1, backup2, backup3, backup4, backup5, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mh_home_member
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mh_home_member
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.homemember.model.MhHomeMember" useGeneratedKeys="true">
    insert into mh_home_member (mname, mbirthday, mage, 
      backup1, backup2, backup3, 
      backup4, backup5, status
      )
    values (#{mname,jdbcType=VARCHAR}, #{mbirthday,jdbcType=TIMESTAMP}, #{mage,jdbcType=DECIMAL}, 
      #{backup1,jdbcType=VARCHAR}, #{backup2,jdbcType=VARCHAR}, #{backup3,jdbcType=VARCHAR}, 
      #{backup4,jdbcType=VARCHAR}, #{backup5,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.homemember.model.MhHomeMember" useGeneratedKeys="true">
    insert into mh_home_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mname != null">
        mname,
      </if>
      <if test="mbirthday != null">
        mbirthday,
      </if>
      <if test="mage != null">
        mage,
      </if>
      <if test="backup1 != null">
        backup1,
      </if>
      <if test="backup2 != null">
        backup2,
      </if>
      <if test="backup3 != null">
        backup3,
      </if>
      <if test="backup4 != null">
        backup4,
      </if>
      <if test="backup5 != null">
        backup5,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mname != null">
        #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mbirthday != null">
        #{mbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mage != null">
        #{mage,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null">
        #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null">
        #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null">
        #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backup4 != null">
        #{backup4,jdbcType=VARCHAR},
      </if>
      <if test="backup5 != null">
        #{backup5,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hafa.homemember.model.MhHomeMember">
    update mh_home_member
    <set>
      <if test="mname != null">
        mname = #{mname,jdbcType=VARCHAR},
      </if>
      <if test="mbirthday != null">
        mbirthday = #{mbirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="mage != null">
        mage = #{mage,jdbcType=DECIMAL},
      </if>
      <if test="backup1 != null">
        backup1 = #{backup1,jdbcType=VARCHAR},
      </if>
      <if test="backup2 != null">
        backup2 = #{backup2,jdbcType=VARCHAR},
      </if>
      <if test="backup3 != null">
        backup3 = #{backup3,jdbcType=VARCHAR},
      </if>
      <if test="backup4 != null">
        backup4 = #{backup4,jdbcType=VARCHAR},
      </if>
      <if test="backup5 != null">
        backup5 = #{backup5,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hafa.homemember.model.MhHomeMember">
    update mh_home_member
    set mname = #{mname,jdbcType=VARCHAR},
      mbirthday = #{mbirthday,jdbcType=TIMESTAMP},
      mage = #{mage,jdbcType=DECIMAL},
      backup1 = #{backup1,jdbcType=VARCHAR},
      backup2 = #{backup2,jdbcType=VARCHAR},
      backup3 = #{backup3,jdbcType=VARCHAR},
      backup4 = #{backup4,jdbcType=VARCHAR},
      backup5 = #{backup5,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>
