<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.webinfo.dao.MhWebinfoMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.webinfo.model.MhWebinfo" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="WEBNAME" property="webname" jdbcType="VARCHAR" />
    <result column="WEBADD" property="webadd" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, WEBNAME, WEBADD, NOTE, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_WEBINFO
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_WEBINFO
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhWebinfo" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WEBINFO (WEBNAME, WEBADD, NOTE, 
      STATUS)
    values (#{webname,jdbcType=VARCHAR}, #{webadd,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{status,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhWebinfo" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_WEBINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="webname != null" >
        WEBNAME,
      </if>
      <if test="webadd != null" >
        WEBADD,
      </if>
      <if test="note != null" >
        NOTE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="webname != null" >
        #{webname,jdbcType=VARCHAR},
      </if>
      <if test="webadd != null" >
        #{webadd,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhWebinfo" >
    update TEST.MH_WEBINFO
    <set >
      <if test="webname != null" >
        WEBNAME = #{webname,jdbcType=VARCHAR},
      </if>
      <if test="webadd != null" >
        WEBADD = #{webadd,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhWebinfo" >
    update TEST.MH_WEBINFO
    set WEBNAME = #{webname,jdbcType=VARCHAR},
      WEBADD = #{webadd,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>