<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.medias.dao.MhMediasMapper">
  <resultMap id="BaseResultMap" type="com.hafa.medias.model.MhMedias">
    <id column="ids" jdbcType="INTEGER" property="ids" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="filename" jdbcType="VARCHAR" property="filename" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="filetype" jdbcType="INTEGER" property="filetype" />
    <result column="comlevl" jdbcType="INTEGER" property="comlevl" />
    <result column="photos" jdbcType="INTEGER" property="photos" />
    <result column="filesize" jdbcType="VARCHAR" property="filesize" />
    <result column="descp" jdbcType="VARCHAR" property="descp" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="createname" jdbcType="VARCHAR" property="createname" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="updatename" jdbcType="VARCHAR" property="updatename" />
  </resultMap>
  <sql id="Base_Column_List">
    ids, fname, filename, filepath, filetype, comlevl, photos, filesize, descp, status, createtime, creator, createname, updatetime,
    updator, updatename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mh_medias
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mh_medias
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.medias.model.MhMedias" useGeneratedKeys="true">
    insert into mh_medias (fname, filename, filepath, 
      filetype, comlevl, photos, 
      filesize, descp, status, createtime, creator, createname, updatetime,
    updator, updatename
      )
    values (#{fname,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, #{filepath,jdbcType=VARCHAR}, 
      #{filetype,jdbcType=INTEGER}, #{comlevl,jdbcType=INTEGER}, #{photos,jdbcType=INTEGER}, 
      #{filesize,jdbcType=VARCHAR}, #{descp,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
      #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.medias.model.MhMedias" useGeneratedKeys="true">
    insert into mh_medias
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fname != null">
        fname,
      </if>
      <if test="filename != null">
        filename,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="filetype != null">
        filetype,
      </if>
      <if test="comlevl != null">
        comlevl,
      </if>
      <if test="photos != null">
        photos,
      </if>
      <if test="filesize != null">
        filesize,
      </if>
      <if test="descp != null">
        descp,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createname != null">
        createname,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="updatename != null">
        updatename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=INTEGER},
      </if>
      <if test="comlevl != null">
        #{comlevl,jdbcType=INTEGER},
      </if>
      <if test="photos != null">
        #{photos,jdbcType=INTEGER},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="descp != null">
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=INTEGER},
      </if>
      <if test="updatename != null">
        #{updatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hafa.medias.model.MhMedias">
    update mh_medias
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filepath != null">
        filepath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="filetype != null">
        filetype = #{filetype,jdbcType=INTEGER},
      </if>
      <if test="comlevl != null">
        comlevl = #{comlevl,jdbcType=INTEGER},
      </if>
      <if test="photos != null">
        photos = #{photos,jdbcType=INTEGER},
      </if>
      <if test="filesize != null">
        filesize = #{filesize,jdbcType=VARCHAR},
      </if>
      <if test="descp != null">
        descp = #{descp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        createname = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=INTEGER},
      </if>
      <if test="updatename != null">
        updatename = #{updatename,jdbcType=VARCHAR},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hafa.medias.model.MhMedias">
    update mh_medias
    set fname = #{fname,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      filepath = #{filepath,jdbcType=VARCHAR},
      filetype = #{filetype,jdbcType=INTEGER},
      comlevl = #{comlevl,jdbcType=INTEGER},
      photos = #{photos,jdbcType=INTEGER},
      filesize = #{filesize,jdbcType=VARCHAR},
      descp = #{descp,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      createname = #{createname,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=INTEGER},
      updatename = #{updatename,jdbcType=VARCHAR}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>
