<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.usermenu.dao.MhUserMenuMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.usermenu.model.MhUserMenu" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="MENUID" property="menuid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, USERID, MENUID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_USER_MENU
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_USER_MENU
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhUserMenu" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USER_MENU (USERID, MENUID)
    values (#{userid,jdbcType=DECIMAL}, #{menuid,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhUserMenu" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USER_MENU
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        USERID,
      </if>
      <if test="menuid != null" >
        MENUID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhUserMenu" >
    update TEST.MH_USER_MENU
    <set >
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="menuid != null" >
        MENUID = #{menuid,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhUserMenu" >
    update TEST.MH_USER_MENU
    set USERID = #{userid,jdbcType=DECIMAL},
      MENUID = #{menuid,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>