/* 全局样式 */
.test {
    box-shadow: 0 0 1px red;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-25 {
    padding: 25px;
}

.p-30 {
    padding: 30px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-15 {
    margin: 15px;
}

.m-20 {
    margin: 20px;
}

.m-25 {
    margin: 25px;
}

.m-30 {
    margin: 30px;
}

.tac {
    text-align: center;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

/************************* layui相关 start ***********************/

.layui-input {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 12px
}

.layui-form-select dl {
    top: 30px;
}

.layui-form-label {
    padding: 5px 15px;
}

.layui-form-select dl dd, .layui-form-select dl dt {
    line-height: 30px;
}

/************************* layui相关 end ***********************/

