.layui-form-label {
    padding: 5px 5px 5px 15px;
}

.layui-input {
    height: 30px;
    line-height: 30px;
}

.layui-col-xs3 .layui-input-inline {
    width: 50%;
}

.layui-col-xs4 .layui-input-inline {
    width: 70%;
}

.between-and-text {
    display: inline-block;
    width: 70px;
}

.between-and-date {
    display: inline-block;
    width: 95px;
}

.layui-form-radio {
    margin: 1px 10px 0 0;
}

/* 修正数据表格复选框不垂直居中 */
.layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
    top: 50%;
    transform: translateY(-50%);
}