<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.finance.dao.MhFinanceMapper">
    <resultMap id="BaseResultMap" type="com.hafa.finance.model.MhFinance">
        <id column="ids" jdbcType="INTEGER" property="ids"/>
        <result column="userid" jdbcType="INTEGER" property="userid"/>
        <result column="ftype" jdbcType="INTEGER" property="ftype"/>
        <result column="cash" jdbcType="DECIMAL" property="cash"/>
        <result column="createtype" jdbcType="INTEGER" property="createtype"/>
        <result column="prodate" jdbcType="TIMESTAMP" property="prodate"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="createname" jdbcType="VARCHAR" property="createname"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updator" jdbcType="INTEGER" property="updator"/>
        <result column="updatename" jdbcType="VARCHAR" property="updatename"/>
    </resultMap>
    <sql id="Base_Column_List">
        ids, userid, ftype, cash, createtype, prodate, reason, status, createtime, creator, createname, updatetime,
        updator, updatename
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_finance
        where ids = #{ids,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from mh_finance
        where ids = #{ids,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.finance.model.MhFinance"
            useGeneratedKeys="true">
        insert into mh_finance (userid, ftype, cash,
        createtype, prodate, reason,
        status, createtime, creator, createname, updatetime,
        updator, updatename)
        values (#{userid,jdbcType=INTEGER}, #{ftype,jdbcType=INTEGER}, #{cash,jdbcType=DECIMAL},
        #{createtype,jdbcType=INTEGER}, #{prodate,jdbcType=TIMESTAMP}, #{reason,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
        #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
        #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.finance.model.MhFinance"
            useGeneratedKeys="true">
        insert into mh_finance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userid,
            </if>
            <if test="ftype != null">
                ftype,
            </if>
            <if test="cash != null">
                cash,
            </if>
            <if test="createtype != null">
                createtype,
            </if>
            <if test="prodate != null">
                prodate,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createname != null">
                createname,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="updatename != null">
                updatename,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="ftype != null">
                #{ftype,jdbcType=INTEGER},
            </if>
            <if test="cash != null">
                #{cash,jdbcType=DECIMAL},
            </if>
            <if test="createtype != null">
                #{createtype,jdbcType=INTEGER},
            </if>
            <if test="prodate != null">
                #{prodate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                #{updatename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hafa.finance.model.MhFinance">
        update mh_finance
        <set>
            <if test="userid != null">
                userid = #{userid,jdbcType=INTEGER},
            </if>
            <if test="ftype != null">
                ftype = #{ftype,jdbcType=INTEGER},
            </if>
            <if test="cash != null">
                cash = #{cash,jdbcType=DECIMAL},
            </if>
            <if test="createtype != null">
                createtype = #{createtype,jdbcType=INTEGER},
            </if>
            <if test="prodate != null">
                prodate = #{prodate,jdbcType=TIMESTAMP},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                createname = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                updatename = #{updatename,jdbcType=VARCHAR},
            </if>
        </set>
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hafa.finance.model.MhFinance">
        update mh_finance
        set userid = #{userid,jdbcType=INTEGER},
        ftype = #{ftype,jdbcType=INTEGER},
        cash = #{cash,jdbcType=DECIMAL},
        createtype = #{createtype,jdbcType=INTEGER},
        prodate = #{prodate,jdbcType=TIMESTAMP},
        reason = #{reason,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        creator = #{creator,jdbcType=INTEGER},
        createname = #{createname,jdbcType=VARCHAR},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        updator = #{updator,jdbcType=INTEGER},
        updatename = #{updatename,jdbcType=VARCHAR}
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <select id="searchFor" resultType="Map" parameterType="Map">
        select f.ids,
        (select u.rname from mh_users u where u.ids = f.userid) userid,
        f.cash,f.createtype,
        (SELECT d.dicvalue FROM mh_dict d WHERE d.ids = f.createtype and d.status='1') createtypename,
        f.prodate, f.reason, f.createtime, f.creator, f.createname, f.updatetime,
        f.updator, f.updatename from mh_finance f
        <where>
            <if test="createtype != null and createtype != ''">
                f.createtype=#{createtype}
            </if>
            <if test="prodate != null and prodate != ''">
                and date_format(f.prodate, '%Y-%m')=#{prodate}
            </if>
            <if test="minprice != null and minprice != ''">
                and f.cash &gt; #{minprice}
            </if>
            <if test="maxprice != null and maxprice != ''">
                and f.cash &lt; #{maxprice}
            </if>
            and f.status='1' and f.ftype=#{ftype} and f.userid=#{userid}
        </where>
        limit #{minpage}, #{limit}
    </select>
    <select id="countFor" resultType="Integer" parameterType="Map">
        select count(1) from mh_finance f
        <where>
            <if test="createtype != null and createtype != ''">
                f.createtype=#{createtype}
            </if>
            <if test="prodate != null and prodate != ''">
                and date_format(f.prodate, '%Y-%m')=date_format(#{prodate}, '%Y-%m')
            </if>
            <if test="minprice != null and minprice != ''">
                and f.cash &gt;= #{minprice}
            </if>
            <if test="maxprice != null and maxprice != ''">
                and f.cash &lt;= #{maxprice}
            </if>
            and f.status='1' and f.ftype=#{ftype} and f.userid=#{userid}
        </where>
    </select>
</mapper>
