<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mynba.users.dao.MhUsersMapper" >
  <resultMap id="BaseResultMap" type="com.mynba.users.model.MhUsers" >
    <id column="IDS" property="ids" jdbcType="DECIMAL" />
    <result column="UNAME" property="uname" jdbcType="VARCHAR" />
    <result column="PWORD" property="pword" jdbcType="VARCHAR" />
    <result column="RNAME" property="rname" jdbcType="VARCHAR" />
    <result column="PIC" property="pic" jdbcType="VARCHAR" />
    <result column="HOMEID" property="homeid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    IDS, UNAME, PWORD, RNAME, PIC, HOMEID, STATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from TEST.MH_USERS
    where IDS = #{ids,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from TEST.MH_USERS
    where IDS = #{ids,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.mynba.model.MhUsers" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USERS (UNAME, PWORD, RNAME, 
      PIC, HOMEID, STATUS
      )
    values (#{uname,jdbcType=VARCHAR}, #{pword,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{homeid,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mynba.model.MhUsers" useGeneratedKeys="true" keyProperty="ids" >
    insert into TEST.MH_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uname != null" >
        UNAME,
      </if>
      <if test="pword != null" >
        PWORD,
      </if>
      <if test="rname != null" >
        RNAME,
      </if>
      <if test="pic != null" >
        PIC,
      </if>
      <if test="homeid != null" >
        HOMEID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uname != null" >
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pword != null" >
        #{pword,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="homeid != null" >
        #{homeid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mynba.model.MhUsers" >
    update TEST.MH_USERS
    <set >
      <if test="uname != null" >
        UNAME = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pword != null" >
        PWORD = #{pword,jdbcType=VARCHAR},
      </if>
      <if test="rname != null" >
        RNAME = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null" >
        PIC = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="homeid != null" >
        HOMEID = #{homeid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
    </set>
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mynba.model.MhUsers" >
    update TEST.MH_USERS
    set UNAME = #{uname,jdbcType=VARCHAR},
      PWORD = #{pword,jdbcType=VARCHAR},
      RNAME = #{rname,jdbcType=VARCHAR},
      PIC = #{pic,jdbcType=VARCHAR},
      HOMEID = #{homeid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL}
    where IDS = #{ids,jdbcType=DECIMAL}
  </update>
</mapper>