<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.users.dao.MhUsersMapper">
    <resultMap id="BaseResultMap" type="com.hafa.users.model.MhUsers">
        <id column="ids" jdbcType="INTEGER" property="ids"/>
        <result column="uname" jdbcType="VARCHAR" property="uname"/>
        <result column="pword" jdbcType="VARCHAR" property="pword"/>
        <result column="rname" jdbcType="VARCHAR" property="rname"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="userType" jdbcType="VARCHAR" property="userType"/>
        <result column="groupid" jdbcType="INTEGER" property="groupid"/>
        <result column="setups" jdbcType="INTEGER" property="setups"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="createname" jdbcType="VARCHAR" property="createname"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updator" jdbcType="INTEGER" property="updator"/>
        <result column="updatename" jdbcType="VARCHAR" property="updatename"/>
    </resultMap>
    <sql id="Base_Column_List">
        ids, uname, pword, rname, pic, userType, groupid, setups, status, createtime, creator, createname, updatetime,
        updator, updatename
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_users
        where ids = #{ids,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from mh_users
        where ids = #{ids,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.users.model.MhUsers"
            useGeneratedKeys="true">
        insert into mh_users (uname, pword, rname,
        pic, userType, groupid, setups, status, createtime, creator, createname, updatetime,
        updator, updatename
        )
        values (#{uname,jdbcType=VARCHAR}, #{pword,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR},
        #{pic,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{groupid,jdbcType=INTEGER}, #{setups,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
        #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
        #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.users.model.MhUsers"
            useGeneratedKeys="true">
        insert into mh_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uname != null">
                uname,
            </if>
            <if test="pword != null">
                pword,
            </if>
            <if test="rname != null">
                rname,
            </if>
            <if test="pic != null">
                pic,
            </if>
            <if test="userType != null">
                userType,
            </if>
            <if test="groupid != null">
                groupid,
            </if>
            <if test="setups != null">
                setups,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createname != null">
                createname,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="updatename != null">
                updatename,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uname != null">
                #{uname,jdbcType=VARCHAR},
            </if>
            <if test="pword != null">
                #{pword,jdbcType=VARCHAR},
            </if>
            <if test="rname != null">
                #{rname,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                #{groupid,jdbcType=INTEGER},
            </if>
            <if test="setups != null">
                #{setups,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                #{updatename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hafa.users.model.MhUsers">
        update mh_users
        <set>
            <if test="uname != null">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="pword != null">
                pword = #{pword,jdbcType=VARCHAR},
            </if>
            <if test="rname != null">
                rname = #{rname,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                userType = #{userType,jdbcType=VARCHAR},
            </if>
            <if test="groupid != null">
                groupid = #{groupid,jdbcType=INTEGER},
            </if>
            <if test="setups != null">
                setups = #{setups,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                createname = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                updatename = #{updatename,jdbcType=VARCHAR},
            </if>
        </set>
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hafa.users.model.MhUsers">
        update mh_users
        set uname = #{uname,jdbcType=VARCHAR},
        pword = #{pword,jdbcType=VARCHAR},
        rname = #{rname,jdbcType=VARCHAR},
        pic = #{pic,jdbcType=VARCHAR},
        userType = #{userType,jdbcType=VARCHAR},
        groupid = #{groupid,jdbcType=INTEGER},
        setups = #{setups,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
        createtime = #{createtime,jdbcType=TIMESTAMP},
        creator = #{creator,jdbcType=INTEGER},
        createname = #{createname,jdbcType=VARCHAR},
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
        updator = #{updator,jdbcType=INTEGER},
        updatename = #{updatename,jdbcType=VARCHAR}
        where ids = #{ids,jdbcType=INTEGER}
    </update>

    <select id="selectByUnamePword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_users where uname=#{uname} and pword=#{pword} and status='1'
    </select>

    <select id="searchFor" resultType="Map" parameterType="Map">
        select
        <include refid="Base_Column_List"/>
        from mh_users
        <where>
            <if test="uname != null and uname != ''">
                and uname like concat('%',#{uname},'%')
            </if>
            <if test="rname != null and rname != ''">
                and rname like concat('%',#{rname},'%')
            </if>
            and status='1' order by createtime desc
        </where>
        limit #{minpage}, #{limit}
    </select>

    <select id="countFor" resultType="Integer" parameterType="Map">
        select count(*)
        from mh_users
        <where>
            <if test="uname != null and uname != ''">
                and uname like concat('%',#{uname},'%')
            </if>
            <if test="rname != null and rname != ''">
                and rname like concat('%',#{rname},'%')
            </if>
            and status='1'
        </where>
    </select>

    <update id="deleteUsers" parameterType="Map">
        update mh_users
        <set>
            status = #{status,jdbcType=INTEGER},
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                createname = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                updatename = #{updatename,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            ids in
            <foreach collection="ids" separator="," open="(" item="id" close=")">
                #{id}
            </foreach>
        </where>
    </update>
    <select id="selectAdmins" resultType="Integer">
        select count(*) from mh_users where status='1' and userType='1'
    </select>

    <select id="checkAdmin" resultType="Integer">
        select count(*) from mh_users where userType='1' and ids in
        <foreach collection="array" close=")" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </select>
</mapper>
