<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.users.dao.MhUsersMapper">
  <resultMap id="BaseResultMap" type="com.hafa.users.model.MhUsers">
    <id column="ids" jdbcType="INTEGER" property="ids" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="pword" jdbcType="VARCHAR" property="pword" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="homeid" jdbcType="INTEGER" property="homeid" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ids, uname, pword, rname, pic, homeid, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mh_users
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mh_users
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.users.model.MhUsers" useGeneratedKeys="true">
    insert into mh_users (uname, pword, rname, 
      pic, homeid, status
      )
    values (#{uname,jdbcType=VARCHAR}, #{pword,jdbcType=VARCHAR}, #{rname,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{homeid,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.users.model.MhUsers" useGeneratedKeys="true">
    insert into mh_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uname != null">
        uname,
      </if>
      <if test="pword != null">
        pword,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="homeid != null">
        homeid,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pword != null">
        #{pword,jdbcType=VARCHAR},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="homeid != null">
        #{homeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hafa.users.model.MhUsers">
    update mh_users
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="pword != null">
        pword = #{pword,jdbcType=VARCHAR},
      </if>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="homeid != null">
        homeid = #{homeid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hafa.users.model.MhUsers">
    update mh_users
    set uname = #{uname,jdbcType=VARCHAR},
      pword = #{pword,jdbcType=VARCHAR},
      rname = #{rname,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      homeid = #{homeid,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>
