<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.menu.dao.MhMenuMapper">
    <resultMap id="BaseResultMap" type="com.hafa.menu.model.MhMenu">
        <id column="ids" jdbcType="INTEGER" property="ids"/>
        <result column="parentid" jdbcType="INTEGER" property="parentid"/>
        <result column="menuname" jdbcType="VARCHAR" property="menuname"/>
        <result column="murl" jdbcType="VARCHAR" property="murl"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="sort" jdbcType="INTEGER" property="sort"/>
        <result column="isparent" jdbcType="INTEGER" property="isparent"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="creator" jdbcType="INTEGER" property="creator"/>
        <result column="createname" jdbcType="VARCHAR" property="createname"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="updator" jdbcType="INTEGER" property="updator"/>
        <result column="updatename" jdbcType="VARCHAR" property="updatename"/>
    </resultMap>
    <sql id="Base_Column_List">
        ids, parentid, menuname, murl, icon, sort, isparent, status, createtime, creator, createname, updatetime,
    updator, updatename
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_menu
        where ids = #{ids,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from mh_menu
        where ids = #{ids,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.menu.model.MhMenu"
            useGeneratedKeys="true">
        insert into mh_menu (parentid, menuname, murl,
        icon, sort, isparent, status, createtime, creator, createname, updatetime,
    updator, updatename)
        values (#{parentid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{murl,jdbcType=VARCHAR},
        #{icon,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{isparent,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
      #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.menu.model.MhMenu"
            useGeneratedKeys="true">
        insert into mh_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentid != null">
                parentid,
            </if>
            <if test="menuname != null">
                menuname,
            </if>
            <if test="murl != null">
                murl,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="isparent != null">
                isparent,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createname != null">
                createname,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updator != null">
                updator,
            </if>
            <if test="updatename != null">
                updatename,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="menuname != null">
                #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="murl != null">
                #{murl,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="isparent != null">
                #{isparent,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                #{updatename,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hafa.menu.model.MhMenu">
        update mh_menu
        <set>
            <if test="parentid != null">
                parentid = #{parentid,jdbcType=INTEGER},
            </if>
            <if test="menuname != null">
                menuname = #{menuname,jdbcType=VARCHAR},
            </if>
            <if test="murl != null">
                murl = #{murl,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="isparent != null">
                isparent = #{isparent,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="createname != null">
                createname = #{createname,jdbcType=VARCHAR},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null">
                updator = #{updator,jdbcType=INTEGER},
            </if>
            <if test="updatename != null">
                updatename = #{updatename,jdbcType=VARCHAR},
            </if>
        </set>
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hafa.menu.model.MhMenu">
        update mh_menu
        set parentid = #{parentid,jdbcType=INTEGER},
        menuname = #{menuname,jdbcType=VARCHAR},
        murl = #{murl,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER},
        isparent = #{isparent,jdbcType=INTEGER},
        status = #{status,jdbcType=INTEGER},
          createtime = #{createtime,jdbcType=TIMESTAMP},
          creator = #{creator,jdbcType=INTEGER},
          createname = #{createname,jdbcType=VARCHAR},
          updatetime = #{updatetime,jdbcType=TIMESTAMP},
          updator = #{updator,jdbcType=INTEGER},
          updatename = #{updatename,jdbcType=VARCHAR}
        where ids = #{ids,jdbcType=INTEGER}
    </update>
    <select id="selectMenusWithUserid" parameterType="MhUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mh_menu m where m.status='1'
        <if test="userType != '1'.toString()">
            and ids in (select um.menuid from mh_user_menu um where um.userid=#{ids})
        </if>
        order by sort
    </select>
    <select id="menuListByMap" resultType="Map">
        SELECT <include refid="Base_Column_List"/> FROM (SELECT
          <include refid="Base_Column_List"/> FROM mh_menu
        WHERE STATUS = '1' UNION SELECT 0, 100000, '菜单', NULL, 'fa fa-home', 0, 1, '1',
        NULL, NULL, NULL, NULL, NULL, NULL ) r ORDER BY sort
    </select>
    <select id="listByParentId" parameterType="String" resultType="Map">
        SELECT m1.ids, IFNULL(m2.menuname, '菜单') parentname, m1.menuname,
        m1.sort, m1.createtime, m1.createname, m1.updatetime, m1.updatename
        FROM mh_menu m1 LEFT JOIN mh_menu m2
        ON m1.parentid = m2.`ids` WHERE m1.parentid=#{id} and m1.STATUS = '1' order by m1.sort
    </select>
    <select id="menuTreeAuthority" resultType="Map">
        SELECT
        <include refid="Base_Column_List"/> FROM mh_menu
        WHERE STATUS = '1' ORDER BY sort
    </select>
    <select id="getParentMenuId" resultType="String" statementType="CALLABLE">
        SELECT getParentList(#{menuid})
    </select>
    <select id="getChildrenMenuIds" resultType="String" statementType="CALLABLE">
        select getChildList(#{menuid})
    </select>
    <select id="searchFor" resultType="Map">
        select
        <include refid="Base_Column_List"/>
        from mh_menu
    </select>
    <select id="countFor" resultType="Map">
        select
        count(1)
        from mh_menu
    </select>
</mapper>
