<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hafa.webinfo.dao.MhWebinfoMapper">
  <resultMap id="BaseResultMap" type="com.hafa.webinfo.model.MhWebinfo">
    <id column="ids" jdbcType="INTEGER" property="ids" />
    <result column="webname" jdbcType="VARCHAR" property="webname" />
    <result column="webadd" jdbcType="VARCHAR" property="webadd" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="createname" jdbcType="VARCHAR" property="createname" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="updator" jdbcType="INTEGER" property="updator" />
    <result column="updatename" jdbcType="VARCHAR" property="updatename" />
  </resultMap>
  <sql id="Base_Column_List">
    ids, webname, webadd, note, status, createtime, creator, createname, updatetime,
    updator, updatename
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mh_webinfo
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mh_webinfo
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.webinfo.model.MhWebinfo" useGeneratedKeys="true">
    insert into mh_webinfo (webname, webadd, note, 
      status, createtime, creator, createname, updatetime,
    updator, updatename)
    values (#{webname,jdbcType=VARCHAR}, #{webadd,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{creator,jdbcType=INTEGER}, #{createname,jdbcType=VARCHAR}, #{updatetime,jdbcType=TIMESTAMP},
      #{updator,jdbcType=INTEGER}, #{updatename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ids" keyProperty="ids" parameterType="com.hafa.webinfo.model.MhWebinfo" useGeneratedKeys="true">
    insert into mh_webinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="webname != null">
        webname,
      </if>
      <if test="webadd != null">
        webadd,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createname != null">
        createname,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="updatename != null">
        updatename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="webname != null">
        #{webname,jdbcType=VARCHAR},
      </if>
      <if test="webadd != null">
        #{webadd,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=INTEGER},
      </if>
      <if test="updatename != null">
        #{updatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hafa.webinfo.model.MhWebinfo">
    update mh_webinfo
    <set>
      <if test="webname != null">
        webname = #{webname,jdbcType=VARCHAR},
      </if>
      <if test="webadd != null">
        webadd = #{webadd,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createname != null">
        createname = #{createname,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=INTEGER},
      </if>
      <if test="updatename != null">
        updatename = #{updatename,jdbcType=VARCHAR},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hafa.webinfo.model.MhWebinfo">
    update mh_webinfo
    set webname = #{webname,jdbcType=VARCHAR},
      webadd = #{webadd,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      createname = #{createname,jdbcType=VARCHAR},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=INTEGER},
      updatename = #{updatename,jdbcType=VARCHAR}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>
